# Setup

In [1]:
%%capture
!pip install --upgrade datasets

In [2]:
import pandas as pd
from datasets import load_dataset
import os
import re

In [3]:
os.chdir(r"C:\Users\maron\OneDrive\02-Documents\03.PROJETS\00.INFORMATIQUE\02.AI\WOLOF\SPEECH_TO_TEXT")

# Fonction

# Loading data

## Data from GALSENAI/wolof_corpus

In [4]:
# wolof_corpus = load_dataset("galsenai/wolof_corpus")

In [5]:
# print(f'the keys of the downloaded data are : {wolof_corpus.keys()}')

In [6]:
# wolof_corpus_df = wolof_corpus['train'].to_pandas()
# wolof_corpus_df.head(3)

In [7]:
# wolof_corpus_df.to_csv(r"DATA\BRUT\DATASET\WOLOF_CORPUS\galsenai_wolof_corpus.csv")

## Data from galsenai/french-wolof-translation

In [8]:
french_wolof_translation = load_dataset("galsenai/french-wolof-translation")

In [9]:
print(f'the keys of the downloaded data are : {french_wolof_translation.keys()}')

the keys of the downloaded data are : dict_keys(['train', 'dev', 'test'])

In [10]:
french_wolof_translation_df_train = french_wolof_translation['train'].to_pandas()
french_wolof_translation_df_dev = french_wolof_translation['dev'].to_pandas()
french_wolof_translation_df_test = french_wolof_translation['test'].to_pandas()

In [11]:
french_wolof_translation_df = pd.concat([french_wolof_translation_df_train, french_wolof_translation_df_dev, french_wolof_translation_df_test])
french_wolof_translation_df.head(3)

                                         translation
0  {'fr': 'Bonne continuation.', 'wo': 'Yal na la...
1  {'fr': 'Vérifiez que votre main soit détendue ...
2  {'fr': 'Ce renouveau politique, véritable alte...

In [12]:
def get_sentence(row, lang):
    return row[lang]

In [13]:
french_wolof_translation_df['wolof'] = french_wolof_translation_df['translation'].apply(lambda row: get_sentence(row, 'wo'))
french_wolof_translation_df['francais'] = french_wolof_translation_df['translation'].apply(lambda row: get_sentence(row, 'fr'))

In [14]:
french_wolof_translation_df = french_wolof_translation_df.drop(columns="translation")
french_wolof_translation_df.head(3)

,wolof,francais
0,Yal na la jig te yeneeni ndam topp ci.,Bonne continuation.
1,Wóo ni sa loxo bi téguna bu baax booy bindee l...,Vérifiez que votre main soit détendue le plus ...
2,"Beesal gi am ci pólótig bi dana tax, ci lu wér...","Ce renouveau politique, véritable alternative,..."

In [15]:
french_wolof_translation_df.to_csv(r"DATA\BRUT\DATASET\WOLOF_FRENCH\galsenai_french_wolof_translation.csv")

## Data from ALFFA

In [16]:
alffa_txt = pd.read_csv(r"DATA\BRUT\DATASET\alffa_git\alffa_git_brut.csv")
alffa_txt.head(3)

,Unnamed: 0,filename,transcript
0,0,WOL_05_lect_0005,tari boo xam ne dañu lay gàgganti rekk mokkul
1,1,WOL_05_lect_0009,dafa am jamano yoo xam ni xasaw dafay ànd ak x...
2,2,WOL_05_lect_0016,bu ngeen bëggee laale demleen ca àll ba

# Data from ALFFA Corpus

In [17]:
wolof_corpus_df = pd.read_csv(r"DATA\BRUT\DATASET\WOLOF_CORPUS\wo_SN-web_crawled.csv")
wolof_corpus_df.head(3)

                                                text
0  a ngi baawaan ci ay woy yu kenn manul raññee j...
1           aji ji ak jottalikat bi ñu ngi jakkarlóo
2                                        aji jëfe ji

# Data from ALFFA WOL

In [18]:
wol_df = pd.read_csv(r"DATA\BRUT\DATASET\WOLOF_CORPUS\WOL copy.csv")
wol_df.head(3)

                              text
0                  Na baral wax ji
1  Na bay waar wi féete ak jànj bi
2                  Na bufta yi jib

## Data from waxal

In [19]:
waxal_txt = pd.read_csv(r"DATA\CLEANED\waxal\waxal__clean_df.csv")
waxal_txt.head(3)

,Unnamed: 0,id,transcription,length,filename
0,0,1,"Lii de ay nit lañu, ñoo xamante ne dañoo toog,...",33.178,perrynelson_1_WOL.wav
1,1,2,Lii de ab nataal la boob mel na ne maa ngi ciy...,18.838,perrynelson_2_WOL.wav
2,2,3,"Waaw, lii sunu mbokk yi nekk ci casamance lañ ...",17.714,perrynelson_3_WOL.wav

## Data from examples of the dictionnary wolof-français

In [20]:
example_wolof_francais_txt = pd.read_csv(r"DATA\BRUT\DATASET\WOLOF_FRENCH\wlexample.csv")
example_wolof_francais_txt.head(3)

,id,example,exampl_Trad,creationDate,LastModifDate
0,1,Ab paaka la yore,Il a un couteau sur lui,2023-12-23 20:28:28,2023-12-23 20:28:28
1,2,Abal ma sa téere !,Prête-moi ton livre !,2023-12-23 20:28:28,2023-12-23 20:28:28
2,3,"Peñe, kenn du ko able","Un peigne, personne ne le prête",2023-12-23 20:28:28,2023-12-23 20:28:28

In [21]:
example_wolof_francais_df = example_wolof_francais_txt.drop(columns=["creationDate", 'LastModifDate', 'id'])
example_wolof_francais_df.head(3)

                 example                      exampl_Trad
0       Ab paaka la yore          Il a un couteau sur lui
1     Abal ma sa téere !            Prête-moi ton livre !
2  Peñe, kenn du ko able  Un peigne, personne ne le prête

In [22]:
example_wolof_francais_df['wolof'] = example_wolof_francais_df['example']
example_wolof_francais_df['francais'] = example_wolof_francais_df['exampl_Trad']
example_wolof_francais_df = example_wolof_francais_df.drop(columns=["example", "exampl_Trad"])
example_wolof_francais_df.head(3)

                   wolof                         francais
0       Ab paaka la yore          Il a un couteau sur lui
1     Abal ma sa téere !            Prête-moi ton livre !
2  Peñe, kenn du ko able  Un peigne, personne ne le prête

In [23]:
example_wolof_francais_df.to_csv(r"DATA\BRUT\DATASET\WOLOF_FRENCH\example_wolof_french_dico_clean.csv")

# Gather all the data

In [24]:
data_text_wolof = pd.DataFrame
data_text_wolof = pd.concat([example_wolof_francais_df['wolof'], waxal_txt['transcription'], alffa_txt['transcript'], french_wolof_translation_df['wolof'], wolof_corpus_df['text'], wol_df['text']])
data_text_wolof.head(3)

0         Ab paaka la yore
1       Abal ma sa téere !
2    Peñe, kenn du ko able
dtype: object

In [25]:
data_cleaned_path = r"DATA\CLEANED\WOLOF_NGRAM\\"
def store_sentences(df, file_name='data.txt'):
    with open(data_cleaned_path + file_name, 'w') as f:
        for row in df:
            # Remove newline characters within a row
            for char in ['\n', '\"', '!', ',', ';', '[', ']', '(', ')']:
                row = str(row).replace(char, '')
            # Split sentences at '.', '!', and '?'
            sentences = re.split('[.?]', row)
            for sentence in sentences:
                if sentence != '' and len(sentence) > 1:
                    f.write(sentence.strip() + '\n')

In [26]:
store_sentences(data_text_wolof)